.main {
  display: flex;
  flex-direction: row;
}

.img {
  width: 30%;
  height: 60%;
  margin-left: 90px;
  border-radius: 20px;
}

.line {
  position: relative;
  width: 30%;
  height: 2px;
  background-color: #000;
  margin: 270px 0px 0px 0px;
  transform: rotate(90deg);
}
